# ================================
# Python
# ================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/
env/

# ================================
# Spark / Hadoop
# ================================
spark-warehouse/
metastore_db/
derby.log
*.crc

# ================================
# Data files (IMPORTANT)
# ================================
data/raw/
data/processed/

# ================================
# Logs
# ================================
*.log
logs/

# ================================
# OS files
# ================================
.DS_Store
Thumbs.db

# ================================
# IDEs
# ================================
.vscode/
.idea/
*.iml

# ================================
# Jupyter / Notebooks
# ================================
.ipynb_checkpoints/

# ================================
# Build / temp
# ================================
target/
tmp/
